:root {
  --sky: #38bdf8;
  --dark: #0f172a;
  --light: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--light);
}

/* anchor offset for sections to account for sticky navbar */
.anchor-wrapper {
  scroll-margin-top: 140px; 
}

/* spacing for sections */
main > div {
  margin-bottom: 5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

@media (max-width: 850px) {
  .anchor-wrapper {
    scroll-margin-top: 330px;
  }

  main > div {
    margin-bottom: 3rem;
  }
}
